@import "./variable.scss";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $ubuntu-font;
  color: $text;
  //height: 200vh;
  min-height: 100vh;
}

button {
  //reset to defult
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  letter-spacing: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
}
