@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

$ubuntu-font: "ubuntu", sans-serif;

$bg: rgb(255, 255, 255);
$bg2: rgb(0, 0, 0);
$text: black;
$text2: rgb(240, 240, 240);
$primary: rgb(22, 210, 247);

$spacing-sm: 8px;
$specing-md: 16px;
$specing-lg: 32px;

$header-height: 72px;

$sm: 37, 5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $md) {
      @content;
    }
  }
}
