@import "../styles/variable.scss";

.hero_container_left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;

  .hero_main {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .hero_container_left1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    color: black;
    width: 80%;
    .hero_1 {
      color: black;
    }
    .hero_2 {
      color: blue;
    }
    .HERO_3 {
      color: rgb(126, 113, 199);
      font-size: 20px;
      margin-bottom: 10px;
    }
    .hero_container_btn {
      font-weight: 500;
      color: $primary;
      background-color: black;
      border: 2px solid black;
      padding: $spacing-sm $specing-lg;
      border-radius: $spacing-sm/2;
      cursor: pointer;

      box-shadow: 0 0 0.5em 0 black;

      &:active {
        transform: scale(0.98);
        border-radius: 0;
      }
      &:hover {
        color: $primary;
        box-shadow: 0 0 0.75em 0 red;
      }
    }
  }
  .hero_container_right {
    width: 80%;

    .hero_container_img {
      width: 90%;
      height: 300px;
      background: transparent;
    }
    //   .button {
    //     font-weight: 500;
    //     color: $primary;
    //     border: 2px solid $primary;
    //     padding: $spacing-sm $specing-lg;
    //     border-radius: $spacing-sm/2;
    //     cursor: pointer;

    //     box-shadow: 0 0 0.5em 0 $primary;

    //     &:active {
    //       transform: scale(0.98);
    //       border-radius: 0;
    //     }
    //     &:hover {
    //       box-shadow: 0 0 0.75em 0 $primary;
    //     }
    //   }
  }
}
